
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
}



html{
	color: #232320;
	font-size: 16px;
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	line-height: 2;
}
body{
	background: #f7f6f5;
}
a{
	color:#232320;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.l_container{
	width: 95%;
	margin: 0 auto;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.m_container{
	width: 90%;
	margin: 0 auto;
	max-width: 1080px;
}
.s_container{
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
}
@media screen and (min-width:1540px) {
	.l_container{max-width: 1680px;}
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	html{font-size: 15px;}
	.container{max-width: 1280px;}
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{font-size: 14px;}
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	html{font-size: 13px;}
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.grd01{ background: linear-gradient(-45deg, #5351c0, #b54d6e, #f54c31); }
video{ width: 100%; }
.ttl_wrap{
	text-align: center;
	margin-bottom: 2.5rem;
}
.ttl_wrap .ttl{
	font-size: 3rem;
	line-height: 1.2;
}
.ttl_wrap.white .ttl{
	color: #fff;
}
.ttl_wrap.white p{
	color: #fff;
}
.ttl_wrap .copy{
	font-size: 1.25rem;
	letter-spacing: 0.05rem;
	margin-top: 2rem;
}
.ttl_wrap .copy + .copy{
	margin-top: 0;
}
.ttl_wrap .copy .small{
	font-size: 1rem;
}
.btn_wrap{
	text-align: center;
	margin-top: 4rem;
}
.btn_wrap .copy{
	margin-bottom: 1rem;
}
.btn_wrap .btn{
	display: inline-block;
}
.btn .inner{
	margin: 0 auto;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	padding: 0.5rem;
	width: 19rem;
	height: 3.25rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	font-weight: bold;
	color: #5351c0;
	background: #fff;
	transition: background 0.2s ease,
	transform 0.2s ease,
	box-shadow 0.2s ease;
	line-height: 1;
}
.btn.line .inner{
	color: #fff;
	background: var(--line);
}
.btn:hover .inner{
	background: #ededf8;
	transform: translateY(4px);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.btn.line:hover .inner{
	background: #2ee62e;
}
.btn.line .inner span{
	font-size: 1.875rem;
	line-height: 1;
	margin-right: 1rem;
}
.fadein{
	opacity: 0;
	transform: translateY(50px);
}
.fadein.active{
	opacity: 1;
	transform: translateY(0);
	transition: opacity 1s ease, transform 0.8s ease-out;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 50%;
	max-width: 1920px;
	width: 100%;
	transform: translateX(-50%);
	z-index: 50000;
	transition: .3s;
}
header.active{
	background: #fff;
	box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.1);
}
.header_in{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 2.5rem;
}
.header_in ul{
	display: flex;
	align-items: center;
}
.header_in ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 8rem;
	padding: 0.5rem 1rem;
	height: 5.625rem;
	color: #fff;
	transition: .3s cubic-bezier(.79,.01,.21,.96);
}
.header_in ul li:last-of-type a{
	width: 9.5rem;
	padding: 0.5rem 1rem;
}
header.active .header_in ul li a{
	color: #232320;
}
.header_in ul li a:hover,
header.active .header_in ul li a:hover{
	color: #fff;
}
.header_in ul li a::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform: translate(-50%, -50%);
	transition: .3s cubic-bezier(.79,.01,.21,.96);
	z-index: -1;
}
.header_in ul li a:hover::before{
	width: 100%;
	height: 100%;
	background: linear-gradient(-45deg, #5351c0, #b54d6e, #f54c31);
}
header .logo{
	width: 10rem;
	line-height: 1;
}
header .logo img{
	width: 100%;
	height: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	padding: 3.5rem 0;
}
footer .sns_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
}
footer .sns_wrap a{
	color: #fff;
	font-size: 2rem;
	line-height: 1;
	margin-right: 2rem;
	transition: .3s;
}
footer .sns_wrap a:last-of-type{
	margin-right: 0;
}
footer .sns_wrap a:hover{
	color: #232320;
}
footer .copyright{
	font-size: 0.7rem;
	color: #fff;
	text-align: center;
	margin-top: 1.75rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ swiper ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.swiper-pagination{
	bottom: -2rem;
	left: 50%!important;
	transform: translateX(-50%)!important;
}
.swiper-pagination-bullets{
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-pagination .swiper-pagination-bullet{
	margin: 0 6px;
	outline: none;
	background: #fff;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active{
	width: 13px;
	height: 13px;
}
.swiper-button-prev,
.swiper-button-next{
	outline: none;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next,
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	background-image: unset!important;
	width: 3rem!important;
	height: 3rem!important;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: -1.5rem!important;
	color: #f52100;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: -1.5rem!important;
	color: #5351c0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ swiper ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 h2{
	position: absolute;
	bottom: 8rem;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	font-size: 3.75rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	width: 100%;
}
.top01 h2 .small{
	font-size: 3rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 4rem 0;
}
.top02 .box{
	padding: 3.75rem;
	border-radius: 1rem;
}
.top02 .box_in{
	display: flex;
	justify-content: space-between;
}
.top02 .box_in .item{
	width: 32.5%;
	height: auto;
	background: #fff;
	border-radius: 0.6rem;
	padding: 1.5rem;
}
.top02 .box_in .item .img{
	border-radius: 0.6rem;
	overflow: hidden;
	margin-bottom: 1rem;
}
.top02 .box_in .item .img img{
	width: 100%;
	height: auto;
}
.top02 .box_in .item h4{
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 0.75rem;
	text-align: center;
}
.top02 .swiper-button-prev,
.top02 .swiper-button-next{
	display: none;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 4rem 0;
}
.top03 .box{
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.top03 .item{
	width: 48%;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	border-radius: 1rem;
	padding: 1.5rem;
	margin-top: 3rem;
	background: #fff;
}
.top03 .item:first-of-type{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 3rem 1.5rem 1.5rem;
	margin-top: 0;
}
.top03 .item .img{
	width: 100%;
	border-radius: 1rem;
	overflow: hidden;
}
.top03 .item:first-of-type .img{
	width: 55%;
}
.top03 .item .img img{
	width: 100%;
	height: auto;
}
.top03 .item .txt{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.top03 .item:first-of-type .txt{
	width: 40%;
}
.top03 .item .txt .icon{
	width: 7.75rem;
	height: 7.75rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -3.875rem;
	margin-bottom: 1rem;
}
.top03 .item:first-of-type .txt .icon{
	margin-top: 0;
}
.top03 .item .txt .icon img{
	width: auto;
	height: 5.5rem;
}
.top03 .item .txt h4{
	font-size: 1.875rem;
	margin-bottom: 0.75rem;
}
.top03 .item .txt p{
	text-align: center;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 4rem 0;
}
.top04 .box_in{
	display: flex;
	justify-content: space-between;
}
.top04 .box_in .item{
	width: 32%;
	background: #edeeea;
	border-radius: 1rem;
}
.top04 .box_in .item h4{
	font-size: 1.25rem;
	color: #fff;
	background: #82b6ef;
	text-align: center;
	padding: 0.5rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.top04 .box_in .item .txt{
	max-height: 22rem;
	height: 100%;
	padding: 1.5rem 1.5rem 4rem;
	margin-bottom: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.top04 .box_in .item .txt .inner{
	margin-top: auto;
}
.top04 .box_in .item .txt .inner:first-of-type{
	margin-top: 0;
}
.top04 .box_in .item .txt p .price{
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 1rem;
	color: #f53618;
}
.top04 .box .notice{
	margin-top: 1.5rem;
}
.top04 .box .notice p{
	font-size: 0.875rem;
	line-height: 1.8;
	padding-left: 1em;
	text-indent: -1em;
}
.top04 .btn{
	margin-top: 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 4rem 0;
}
.top05 .box{
	padding: 3.75rem 3.75rem 4.5rem;
	border-radius: 1rem;
}
.top05 .box_in{
	width: 100%;
	position: relative;
}
.top05 .box .img{
	border-radius: 0.6rem;
	overflow: hidden;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 4rem 0;
}
.top06 .box{
	display: flex;
}
.top06 .item{
	position: relative;
	width: 23.5%;
	margin-right: 2%;
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	padding: 0.25rem;
}
.top06 .item:nth-of-type(4n){
	margin-right: 0;
}
.top06 .item::after{
	position: absolute;
	content: '';
	background: url(../images/common/angle.svg) center center / cover no-repeat;
	width: 3.75rem;
	height: 3.75rem;
	top: 50%;
	right: -2.5rem;
	transform: translateY(-50%);
	z-index: 2;
}
.top06 .item:last-of-type::after{
	content: none;
}
.top06 .item .item_in{
	background: linear-gradient(-45deg, rgba(83,81,192,.1), rgba(181,77,110,.1), rgba(245,76,49,.1));
	border-radius: 1rem;
	padding: 1.5rem;
	width: 100%;
	height: 100%;
	text-align: center;
}
.top06 .step_ttl{
	text-align: center;
	color: #5351c0;
}
.top06 .step_ttl p{
	position: relative;
	font-size: 1.25rem;
	margin-bottom: 0.75rem;
}
.top06 .step_ttl p::after{
	position: absolute;
	content: '';
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 2.5rem;
	height: 2px;
	background: #5351c0;
}
.top06 .step_ttl h4{
	font-size: 1rem;
}
.top06 .item_in .img{
	width: auto;
	height: 7rem;
	margin: 1rem 0 2rem;
}
.top06 .item_in .img img{
	width: auto;
	height: 7rem;
}
.top06 .item_in .txt p{
	font-size: 0.875rem;
	text-align: left;
}

.top06 .btn_wrap{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.top06 .btn_wrap .btn{
	margin-right: 2rem;
}
.top06 .btn_wrap .btn:last-of-type{
	margin-right: 0;
}
.top06 .btn_wrap .btn.line .fig{
	display: inline-block;
	position: relative;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	transition: .2s ease;
	margin-bottom: 1rem;
}
.top06 .btn_wrap .btn.line .fig::before,
.top06 .btn_wrap .btn.line .fig::after{
	position: absolute;
	content: '';
	width: 2rem;
	height: 2px;
	top: 50%;
}
.top06 .btn_wrap .btn.line .fig::before{
	background: #f52100;
	left: -4rem;
	transform: translateY(-50%) rotate(45deg);
}
.top06 .btn_wrap .btn.line .fig::after{
	background: #5351c0;
	right: -4rem;
	transform: translateY(-50%) rotate(-45deg);
}
.top06 .btn_wrap .btn.line:hover .fig{
	transform: translateY(4px);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 4rem 0;
	background: linear-gradient(-45deg, rgba(83,81,192,.1), rgba(181,77,110,.1), rgba(245,76,49,.1));
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ area_contents ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.area_contents{
	background: url(../images/common/kinki_map.png) center center / 800px auto no-repeat;
}
.area_in{
	padding: 4rem 0 6rem;
	background: rgba(255,255,255,.85);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ area_contents ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ contact_contents ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.contact_contents{
	color: #fff;
}
.contact_contents_in{
	background: #000;
}
.contact_contents .box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact_contents .ttl_wrap{
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	margin-top: -4rem;
}
.contact_contents .btn_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 12rem;
}
.contact_contents .btn_wrap .btn{
	margin-right: 2rem;
}
.contact_contents .btn_wrap .btn:last-of-type{
	margin-right: 0;
}
.contact_contents .btn_wrap .btn .inner{
	font-size: 1.125rem;
	height: 3.75rem;
}
.contact_contents .btn_wrap .btn.line .inner{
	color: var(--line);
	background: #fff;
}
.contact_contents .btn_wrap .btn.line:hover .inner{
	background: #ededf8;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ contact_contents ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.lower_mv_in{
	position: absolute;
	width: 100%;
	opacity: .1;
}
.lower_mv .box{
	width: 100%;
	height: 20rem;
	display: flex;
	align-items: center;
}
.lower_mv .lower_ttl{
	color: #fff;
}
.lower_mv .lower_ttl h1{
	font-size: 3.125rem;
	line-height: 1;
	font-weight: 500;
	margin-bottom: 0.5rem;
}
.lower_mv .lower_ttl p{
	font-size: 1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層MV ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.service01{ background: url(../images/service/mv.png) 80% center / 1920px auto no-repeat; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層MV ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ service02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.service02{
	padding: 5rem 0;
}
.service02 .box{
	margin-top: 4rem;
}
.service02 .copy p{
	color: #5351c0;
	font-size: 1.5rem;
	text-align: center;
	line-height: 2.4;
}
.service02 .item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	border-radius: 1rem;
	padding: 1.5rem 3rem 1.5rem 1.5rem;
	margin-top: 3rem;
	background: #fff;
}
.service02 .item:first-of-type{
	margin-top: 0;
}
.service02 .item:nth-of-type(even){
	padding: 1.5rem 1.5rem 1.5rem 3rem;
}
.service02 .item .img{
	width: 55%;
	border-radius: 1rem;
	overflow: hidden;
}
.service02 .item:nth-of-type(odd) .img{ order: 1; }
.service02 .item:nth-of-type(even) .img{ order: 2; }
.service02 .item .img img{
	width: 100%;
	height: auto;
}
.service02 .item .txt{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.service02 .item .txt{
	width: 40%;
}
.service02 .item:nth-of-type(odd) .txt{ order: 2; }
.service02 .item:nth-of-type(even) .txt{ order: 1; }
.service02 .item .txt .icon{
	width: 7.75rem;
	height: 7.75rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}
.service02 .item .txt .icon img{
	width: auto;
	height: 5.5rem;
}
.service02 .item .txt h2{
	font-size: 1.875rem;
	margin-bottom: 0.75rem;
}
.service02 .item .txt p{
	text-align: center;
}
.service02 .item .txt .recommend{
	margin-top: 3rem;
	width: 100%;
}
.service02 .item .txt .recommend th,
.service02 .item .txt .recommend td{
	font-size: 0.875rem;
	padding: 0.75rem;
}
.service02 .item .txt .recommend th{
	text-align: center;
	color: #fff;
	background: #5351c0;
	border-top-left-radius: 0.6rem;
	border-bottom-left-radius: 0.6rem;
	width: 30%;
}
.service02 .item .txt .recommend td{
	background:#edeeea;
	border-top-right-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
	width: 70%;
}
.service02 .item .txt .recommend td ul{
	margin-left: 1.5rem;
}
.service02 .item .txt .recommend td li{
	list-style-type: disc;
}
.service02 .notice_wrap{
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}
.service02 .notice_wrap .notice_ttl,
.service02 .notice_wrap .notice_contents{
	border-top: solid 1px #000;
	padding: 1rem;
}
.service02 .notice_wrap .notice_ttl{
	width: 20%;
}
.service02 .notice_wrap .notice_ttl h3{
	font-size: 1.25rem;
}
.service02 .notice_wrap .notice_contents{
	width: 70%;
}
.service02 .notice_wrap .notice_contents p{
	font-size: 0.875rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ service02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */


/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IE対策 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@media all and (-ms-high-contrast: none) {

}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IE対策 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */



























/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy01 .box{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 2rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.5rem;
	margin: 3rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 2rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

