
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
}



html{
	color: #232320;
	font-size: 16px;
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	line-height: 2;
}
a{
	color:#000;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 5.625rem auto 0;
	height: auto;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.l_container{
	width: 95%;
	margin: 0 auto;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.m_container{
	width: 90%;
	margin: 0 auto;
	max-width: 1080px;
}
.s_container{
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
}
@media screen and (min-width:1540px) {
	.l_container{max-width: 1680px;}
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	html{font-size: 15px;}
	.container{max-width: 1280px;}
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{font-size: 14px;}
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	html{font-size: 13px;}
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.montserrat{ font-family: 'Montserrat', sans-serif; }
.grd01{
	background: linear-gradient(-45deg, #5351c0, #b54d6e, #f54c31);
}
video{ width: 100%; }
.ttl_wrap{
	text-align: center;
	margin-bottom: 2.5rem;
}
.ttl_wrap .ttl{
	font-size: 3rem;
	line-height: 1.2;
}
.ttl_wrap.white .ttl{
	color: #fff;
}
.ttl_wrap.white p{
	color: #fff;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.1);
	z-index: 50000;
}
.header_in{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 3rem;
}
.header_in ul{
	display: flex;
	align-items: center;
}
.header_in ul li a{
	position: relative;
	display: flex;
	align-items: center;
	padding: 0.5rem 2.5rem;
	height: 5.625rem;
	transition: .3s cubic-bezier(.79,.01,.21,.96);
}
.header_in ul li a:hover{
	color: #fff;
}
.header_in ul li a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: .3s cubic-bezier(.79,.01,.21,.96);
	z-index: -1;
}
.header_in ul li a:hover::before{
	width: 100%;
	background: linear-gradient(-45deg, #5351c0, #b54d6e, #f54c31);
}
header .logo{
	width: 10rem;
	line-height: 1;
}
header .logo img{
	width: 100%;
	height: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 h2{
	position: absolute;
	bottom: 8rem;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	font-size: 3.75rem;
	line-height: 1.5;
	width: 100%;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 4rem 0;
}
.top02 .box{
	padding: 3.75rem;
	border-radius: 1rem;
}
.top02 .box_in{
	display: flex;
	justify-content: space-between;
}
.top02 .box_in .item{
	width: 32.5%;
	background: #fff;
	border-radius: 0.625rem;
	padding: 1.5rem;
}
.top02 .box_in .item .img{
	border-radius: 0.625rem;
	overflow: hidden;
	margin-bottom: 1rem;
}
.top02 .box_in .item .img img{
	width: 100%;
	height: auto;
}
.top02 .box_in .item h4{
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 0.75rem;
	text-align: center;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */


/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IE対策 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@media all and (-ms-high-contrast: none) {

}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IE対策 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */



























/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy01 .box{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 2rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.5rem;
	margin: 3rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 2rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

