/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.header_in{
	padding: 0 0 0 1.5rem;
}
.header_in ul li a{
	width: unset;
	padding: 0.5rem 1.5rem;
}
.header_in ul li:last-of-type a{
	width: unset;
	padding: 0.5rem 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 h2{
	position: static;
	transform: unset;
	font-size: 2.25rem;
	color: #232320;
	text-shadow: unset;
	margin-top: 1rem;
}
.top01 h2 .small{
	font-size: 1.75rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02 .box{
	margin: 0 -6%;
	padding: 2.5rem 2rem;
	border-radius: 0;
}
.top02 .box_in .item{
	padding: 1rem;
}
.top02 .box_in .item h4{
	font-size: 1.3rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03 .item{
	padding: 1.25rem;
}
.top03 .item .txt .icon{
	width: 5.5rem;
	height: 5.5rem;
	margin-top: -2.75rem;
}
.top03 .item .txt .icon img{
	height: 3.5rem;
}
.top03 .item .txt h4{
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
}
.top03 .item .txt p{
	font-size: 0.9rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04 .box_in .item .txt{
	height: 18rem;
	padding: 1rem 1rem 2rem;
	margin-bottom: 0;
}
.top04 .box_in .item .txt p{
	font-size: 0.9rem;
}
.top04 .box_in .item .txt p .price{
	font-size: 1.4rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05 .box{
	padding: 2.5rem 2rem 4.5rem;
	margin: 0 -6%;
	border-radius: 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06 .box{
	max-width: 550px;
	width: 100%;
	margin: 0 auto;
	display: block;
}
.top06 .item{
	width: 100%;
	margin: 2rem 0 0 0;
}
.top06 .item::after{
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-0.75rem) rotate(90deg);
}
.top06 .item_in .txt p{
	font-size: 0.875rem;
	text-align: center;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ contact_contents ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.contact_contents .ttl_wrap{
	margin-top: 0;
}
.contact_contents .btn_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ contact_contents ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ service02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.service02 .copy p{
	font-size: 1.25rem;
}
.service02 .box{
	max-width: 550px;
	width: 100%;
	margin: 4rem auto 0;
}
.service02 .item{
	display: block;
	padding: 1.5rem;
}
.service02 .item:nth-of-type(even){ padding: 1.5rem; }
.service02 .item .img{
	width: 100%;
}
.service02 .item .txt{
	width: 100%;
}
.service02 .item .txt .icon{
	width: 6.5rem;
	height: 6.5rem;
	margin-top: -3.25rem;
}
.service02 .item .txt .icon img{
	height: 4.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ service02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */